@media screen and (min-width: 1440px) {
  body {
    background-image: url("../images/bg-desktop-light.jpg");
    position: relative;
  }
  .todo {
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &__otherInfo {
      box-shadow: 0 12px 12px 0px $veryLightGrayishBlue;
    }
    &__itemsLeft,
    &__clear {
      width: 100%;
    }
    &__status {
      font-size: inherit;
      position: static;
    }
  }
}
