html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

button {
  background: none;
  border: none;
  color: #9394a5;
  cursor: pointer;
}

body {
  padding: 1rem 1.5rem;
  background-image: url("../images/bg-mobile-light.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  color: #484b6a;
}

.todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90%;
  padding-top: 1.5rem;
  gap: 1.5rem;
}

.todo__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  text-transform: uppercase;
  padding-bottom: 1rem;
  color: white;
}

.todo__header button {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.todo__header button img {
  width: auto;
  height: 100%;
}

.todo__create {
  width: 100%;
  border-radius: 6px;
  border: 0;
  padding: 0.65rem 0;
  list-style: none;
  gap: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: White;
  font-size: 0.9rem;
  padding: 0.65rem;
}

.todo__create label {
  position: relative;
  height: 1rem;
  width: 1rem;
}

.todo__create label input {
  position: absolute;
  cursor: pointer;
  height: 0;
  width: 0;
  opacity: 0;
}

.todo__create label input:checked ~ span {
  background: -webkit-gradient(linear, left top, left bottom, from(#57ddff), to(#c058f3));
  background: linear-gradient(#57ddff, #c058f3);
}

.todo__create label input:checked ~ span::before {
  background-image: url("../images/icon-check.svg");
}

.todo__create label span {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid #d2d3db;
  border-radius: 50%;
  cursor: pointer;
}

.todo__create label span::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.todo__inputText {
  background: 0;
  border: none;
  outline: transparent;
}

.todo__listContainer {
  width: 100%;
  font-size: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 12px 12px 0px #e4e5f1;
          box-shadow: 0 12px 12px 0px #e4e5f1;
  padding: 0 0.65rem;
  margin-bottom: 4.5rem;
  background: white;
  border-radius: 6px;
  position: relative;
}

.todo__list {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  color: black;
}

.todo__list li {
  width: 100%;
  border-radius: 6px;
  border: 0;
  padding: 0.65rem 0;
  list-style: none;
  gap: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo__list li label {
  position: relative;
  height: 1rem;
  width: 1rem;
}

.todo__list li label input {
  position: absolute;
  cursor: pointer;
  height: 0;
  width: 0;
  opacity: 0;
}

.todo__list li label input:checked ~ span {
  background: -webkit-gradient(linear, left top, left bottom, from(#57ddff), to(#c058f3));
  background: linear-gradient(#57ddff, #c058f3);
}

.todo__list li label input:checked ~ span::before {
  background-image: url("../images/icon-check.svg");
}

.todo__list li label span {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid #d2d3db;
  border-radius: 50%;
  cursor: pointer;
}

.todo__list li label span::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.todo__list li button {
  margin-left: auto;
}

.todo__item--active {
  text-decoration: line-through;
  color: #9394a5;
}

.todo__otherInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo__itemsLeft {
  text-transform: capitalize;
  color: #9394a5;
  border-radius: 6px;
  border: 0;
  padding: 0.65rem 0;
}

.todo__clear {
  margin-left: auto;
  font-size: inherit;
  font-weight: bold;
  outline: none;
  opacity: 0.5;
  cursor: pointer;
  border-radius: 6px;
  border: 0;
  padding: 0.65rem 0;
}

.todo__clear:hover, .todo__clear:active {
  opacity: 1;
}

.todo__status {
  margin: 1rem;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: Center;
      -ms-flex-pack: Center;
          justify-content: Center;
  position: absolute;
  bottom: -4.5rem;
  left: -1rem;
  width: 100%;
  background: white;
  -webkit-box-shadow: 0 12px 12px 0px #e4e5f1;
          box-shadow: 0 12px 12px 0px #e4e5f1;
  border-radius: 6px;
  border: 0;
  padding: 0.65rem 0;
  font-size: 0.9rem;
}

.todo__status label input {
  opacity: 0;
  position: absolute;
  height: 0;
  width: 0;
}

.todo__status label input:checked ~ span {
  color: #3a7bfd;
  opacity: 1;
}

.todo__status label span {
  padding: 0.5em 0.75em;
  opacity: 0.5;
  cursor: pointer;
}

.todo__status label span:hover, .todo__status label span:active {
  opacity: 1;
}

@media screen and (min-width: 1440px) {
  body {
    background-image: url("../images/bg-desktop-light.jpg");
    position: relative;
  }
  .todo {
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .todo__otherInfo {
    -webkit-box-shadow: 0 12px 12px 0px #e4e5f1;
            box-shadow: 0 12px 12px 0px #e4e5f1;
  }
  .todo__itemsLeft, .todo__clear {
    width: 100%;
  }
  .todo__status {
    font-size: inherit;
    position: static;
  }
}
/*# sourceMappingURL=main.css.map */